{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Inicio de sesión Exitoso</title>
    <link rel="stylesheet" href="{% static 'inicioExitoso.css' %}">
</head>
<body>
    <div class="profile-container" onclick="window.location.href='{% url 'Perfil' %}'">
        <div class="profile-button-image-container">
            <img class="profile-button-image" src="{% if user.is_authenticated and user.userprofile.profile_picture %} {{ user.userprofile.profile_picture.url }} {% else %} {% static 'default_profile.png' %} {% endif %}" alt="Foto de perfil">
        </div>
    </div>
    <div class="container">
        <h1>¡Inicio de sesión exitoso!</h1>
        <p>Has iniciado sesión correctamente.</p>


        <!-- Botón para ir al juego -->
        <a href="{% url 'categorias:select_level' %}" class="btn">Iniciar Juego</a>


        <a href="{% url 'home' %}" class="btn">Volver al inicio</a>
    </div>
</body>
</html>