<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña - Workshake</title>
    <link rel="stylesheet" href="/static/password_reset_confirm.css">
</head>
<body>
    <div class="container">
        <h2>Ingresa una nueva contraseña</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Actualizar contraseña</button>
        </form>
    </div>
</body>
</html>